<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source = DESKTOP-CMGFHNU; Initial Catalog = Frolov_GameLauncher;
			 Integrated Security = true; MultipleActiveResultSets = true" providerName="System.Data.SqlClient"/>
	</connectionStrings> 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
